@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --green: #8bc34a;
    --transition: .3s ease;
    --fontFamily: 'Playfair', sans-serif;
}
ul li{
    text-decoration: none;
    list-style: none;
}

/***************
Nav Style
****************/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav section{
    display: flex;
    align-items: center;
}
nav section a{
    align-self: center;
    padding: 20px 10px;
    font-size: 1.8rem;
    color: black;
    text-decoration: none;
    cursor: pointer;
}
nav section h3{
    font-size: 2rem;
    font-weight: 700;
}
nav section ul{
    display: flex;
}
nav section ul li{
    padding: 20px;
    text-transform: uppercase;
    color: gray;
    font-family: 400;
    font-size: 1.3rem;
}
nav section ul li:hover, nav section a:hover{
    color: var(--green);
    transition: var(--transition);
    cursor: pointer;
}

/***************
Header Style
****************/
header{
    height: 95vh;
    background-image: url(./img/slide-1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.row{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.row h4{
    background: var(--green);
    color: white;
    padding: 15px 40px;
    text-transform: uppercase;
    flex-shrink: 0;
    width: fit-content;
}
.row h2{
    font-size: 6rem;
    color: white;
    padding: 30px 0;
}
.row a{
    display: block;
    background: black;
    color: white;
    padding: 15px 40px;
    width: fit-content;
}
.row a:hover{
    color: var(--green);
    transition: var(--transition);
    cursor: pointer;
}

/***************
About Style
****************/
.about{
    display: flex;
    justify-content: center;
}
.about article{
    flex: 0 0 20%;
    margin: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about article:last-child{
    border: 1px solid lightgray;
}
.about img{
    width: 100%;
}
.about article h2{
    padding: 20px 0;
    color: black;
    font-size: 3rem;
    font-weight: 300;
}
.about article span{
    color: var(--green);
    padding: 20px 0;
    font-size: 3.2rem;
    font-style: italic;
    font-weight: 300;
}
.about article p{
    text-align: center;
}
.about article a{
    background: transparent;
    color: var(--green);
    text-transform: uppercase;
    font-size: 1.2rem;
    text-decoration: none;
    font-family: var(--fontFamily);
    font-weight: 400;
    margin-top: 20px;
}
.about article a:hover{
    color: gray;
    transition: var(--transition);
}
.about article h4{
    padding: 20px 0;
    color: var(--green);
    font-size: 2rem;
}
.about article h5{
    font-size: 1.3rem;
    font-weight: 600;
    font-family: var(--fontFamily);
}
.about article p{
    font-size: 1.3rem;
    font-weight: 300;
    font-family: var(--fontFamily);
    padding-top: 10px;
}
.about article div{
    padding: 10px 0;
    text-align: center;
}

/***************
Services Style
****************/
.services{
    text-align: center;
}
.services .row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.services .row article{
    flex: 0 0 20%;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 10px;
    background: rgb(250, 250, 250);
}
.services h2{
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 10px;
}
.services hr{
    width: 15%;
    height: 2px;
    background: var(--green);
    margin: auto;
    border: none;
}
.services article a{
    background: transparent;
    color: var(--green);
    font-size: 2rem;
    padding: 40px 0 20px 0;
}
.services article h4{
    background: transparent;
    color: black;
    font-size: 1rem;
}
.services article p{
    padding: 10px 40px;
    font-size: 1.2rem;
    font-weight: 300;
}